<div id="main-content">

  <h1> User Reviews</h1>
  <table>
    <thead>
      <tr>
        <th class="header-data">Name</th>
        <th class="header-data">Comment</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="users">
      <%= render @users %>
    </tbody>
  </table>

  <div id="form">
    <%= render 'form' %>
  </div>

</div>